In [1]:
# allow us to build out lists using a different notation, like a one-line for loop in brackets

In [3]:
l = []
for letter in 'word':
    l.append(letter)
    
print(l)

['w', 'o', 'r', 'd']

In [5]:
l = [letter for letter in 'word']
print(l)

['w', 'o', 'r', 'd']

In [7]:
list = [x**2 for x in range(0,11)]
print(list)

[0, 1, 4, 9, 16, 25, 36, 49, 64, 81, 100]

In [9]:
list = [number for number in range(11) if number % 2 == 0]
print(list)

[0, 2, 4, 6, 8, 10]

In [11]:
#same thing, longer way
list = []
for number in range(11):
    if number % 2 == 0:
        list.append(number)
print(list)

[0, 2, 4, 6, 8, 10]

In [13]:
#super duper one-liner shortcut
print([number for number in range(11) if number % 2 == 0])

[0, 2, 4, 6, 8, 10]

In [15]:
celsius = [0, 10, 20.1, 34.5]
fahrenheit = [(temp*(9/5)+32) for temp in celsius]
print(fahrenheit)

[32.0, 50.0, 68.18, 94.1]

In [21]:
#fahrenheit
print([(temp*(9/5)+32) for temp in range(-20,55,5)])

[-4.0, 5.0, 14.0, 23.0, 32.0, 41.0, 50.0, 59.0, 68.0, 77.0, 86.0, 95.0, 104.0, 113.0, 122.0]

In [22]:
#celsius
print([temp for temp in range(-20,55,5)])

[-20, -15, -10, -5, 0, 5, 10, 15, 20, 25, 30, 35, 40, 45, 50]

In [23]:
list = [x**2 for x in range(11)]

In [24]:
print(list)

[0, 1, 4, 9, 16, 25, 36, 49, 64, 81, 100]

In [26]:
# take x^2 list and nest to make x^4 list
list = [x**2 for x in [x**2 for x in range(11)]]
print(list)

[0, 1, 16, 81, 256, 625, 1296, 2401, 4096, 6561, 10000]