# Objects and Data Structures Assessment Test

## Test your knowledge. 

** Answer the following questions **

Write a brief description of all the following Object Types and Data Structures we've learned about:

Numbers: integers or floating point decimal numbers; things you perform math on

Strings: text, or a sequence of characters

Lists: a series of data arranged in any order containing any data type

Tuples: like lists, but immutable meaning the entries can't be changed

Dictionaries: a key-value pair of data, any data types, not in any particular order

## Numbers

Write an equation that uses multiplication, division, an exponent, addition, and subtraction that is equal to 100.25.

Hint: This is just to test your memory of the basic arithmetic commands, work backwards from 100.25

In [13]:
10**2/2*3+0.25-50

100.25

Explain what the cell below will produce and why. Can you change it so the answer is correct?

In [54]:
2/3 
# In python2 will produce "1", but in python3 will produce "0.666" because division operation changed between versions.
# In python2 it was a truncated integer, but in python 3 it will convert it to a floating point decimal number
# To fix, we need to use a float in the original python2 code like 2.0/3

0.6666666666666666

Answer these 3 questions without typing code. Then type code to check your answer.

    What is the value of the expression 4 * (6 + 5)
    
    What is the value of the expression 4 * 6 + 5 
    
    What is the value of the expression 4 + 6 * 5

In [19]:
print(4 * (6 + 5)) #44
print(4 * 6 + 5) #29
print(4 + 6 * 5) #34

44
29
34

What is the *type* of the result of the expression 3 + 1.5 + 4?

float

What would you use to find a numberâ€™s square root, as well as its square?

In [52]:
# use x**0.5 to get sqrt and use x**2 to get square of x
print(100**0.5)
print(10**2)

10.0
100

## Strings

Given the string 'hello' give an index command that returns 'e'. Use the code below:

In [24]:
s = 'hello'
# Print out 'e' using indexing
s[1]
# Code here

'e'

Reverse the string 'hello' using indexing:

In [25]:
s ='hello'

# Reverse the string using indexing
s[::-1]
# Code here

'olleh'

Given the string hello, give two methods of producing the letter 'o' using indexing.

In [28]:
s ='hello'

# Print out the
print(s[4])
print(s[-1])
# Code here

o
o

## Lists

Build this list [0,0,0] two separate ways.

In [31]:
list = [0,0,0]
print(list)
list2 = [0]
list2 = list2*3
print(list2)

[0, 0, 0]
[0, 0, 0]

Reassign 'hello' in this nested list to say 'goodbye' item in this list:

In [32]:
l = [1,2,[3,4,'hello']]
l[2][2] = 'goodbye'
print(l)

[1, 2, [3, 4, 'goodbye']]

Sort the list below:

In [35]:
l = [3,4,5,5,6]
l.sort()
print(l)

[3, 4, 5, 5, 6]

## Dictionaries

Using keys and indexing, grab the 'hello' from the following dictionaries:

In [37]:
d = {'simple_key':'hello'}
# Grab 'hello'
print(d['simple_key'])

hello

In [38]:
d = {'k1':{'k2':'hello'}}
# Grab 'hello'
print(d['k1']['k2'])

hello

In [40]:
# Getting a little tricker
d = {'k1':[{'nest_key':['this is deep',['hello']]}]}

#Grab hello
print(d['k1'][0]['nest_key'][1][0])

hello

In [41]:
# This will be hard and annoying!
d = {'k1':[1,2,{'k2':['this is tricky',{'tough':[1,2,['hello']]}]}]}
print(d['k1'][2]['k2'][1]['tough'][2][0])

hello

Can you sort a dictionary? Why or why not?

No, it's not a sequence, it's a collection of key-value pairs (mappings)

## Tuples

What is the major difference between tuples and lists?

Tuples are immutable, lists are not

How do you create a tuple?

Parentheses

## Sets

What is unique about a set?

Collection of unique values

Use a set to find the unique values of the list below:

In [46]:
l = [1,2,2,33,4,4,11,22,3,3,2]
set(l)

{1, 2, 3, 4, 11, 22, 33}

## Booleans

For the following quiz questions, we will get a preview of comparison operators:

<table class="table table-bordered">
<tr>
<th style="width:10%">Operator</th><th style="width:45%">Description</th><th>Example</th>
</tr>
<tr>
<td>==</td>
<td>If the values of two operands are equal, then the condition becomes true.</td>
<td> (a == b) is not true.</td>
</tr>
<tr>
<td>!=</td>
<td>If values of two operands are not equal, then condition becomes true.</td>
</tr>
<tr>
<td>&lt;&gt;</td>
<td>If values of two operands are not equal, then condition becomes true.</td>
<td> (a &lt;&gt; b) is true. This is similar to != operator.</td>
</tr>
<tr>
<td>&gt;</td>
<td>If the value of left operand is greater than the value of right operand, then condition becomes true.</td>
<td> (a &gt; b) is not true.</td>
</tr>
<tr>
<td>&lt;</td>
<td>If the value of left operand is less than the value of right operand, then condition becomes true.</td>
<td> (a &lt; b) is true.</td>
</tr>
<tr>
<td>&gt;=</td>
<td>If the value of left operand is greater than or equal to the value of right operand, then condition becomes true.</td>
<td> (a &gt;= b) is not true. </td>
</tr>
<tr>
<td>&lt;=</td>
<td>If the value of left operand is less than or equal to the value of right operand, then condition becomes true.</td>
<td> (a &lt;= b) is true. </td>
</tr>
</table>

What will be the resulting Boolean of the following pieces of code (answer fist then check by typing it in!)

In [47]:
# Answer before running cell
2 > 3 #False

False

In [48]:
# Answer before running cell
3 <= 2 #False

False

In [49]:
# Answer before running cell
3 == 2.0 #False

False

In [50]:
# Answer before running cell
3.0 == 3 #False

True

In [51]:
# Answer before running cell
4**0.5 != 2 #False

False

Final Question: What is the boolean output of the cell block below?

In [53]:
# two nested lists
l_one = [1,2,[3,4]]
l_two = [1,2,{'k1':4}]

#True or False?
l_one[2][0] >= l_two[2]['k1']
# 3 >= 4 which is False

False

## Great Job on your first assessment!